*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Success message style  */
.hidden{
    display: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }