/*
- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%) 
- Tomato: hsl(4, 100%, 67%)

- Font size (paragraph): 16px

- Weights: 400, 700
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* importation of instructed font style */
@import url('https://fonts.google.com/specimen/Roboto');

/* mobile-boby section */
body{
    /* margin: auto; */
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    gap: 6px; */

}

.container{
    width: 375px;
    /* height: 0; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    /* text-align: center; */
    background-color: hsl(0, 0%, 100%);
}

.word{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

/* p,ul>li{
    transform:scale(0.89);
    margin-left: -16px;
} */

/* form{
    background-color: brown;
} */

#btn{
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    /* margin-left: 20%; */
    width: 335px;
    /* height: 60px; */
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    border: none;
    border-radius:6px;
    cursor: pointer;
}

#btn:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgba(255, 154, 34, 1) 70%);
}

label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    /* text-align: center; */
}

/* #btn, label{
    display: flex;
    flex-direction: column;
    gap: 20px
} */

ul>li{
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    gap: 19px;
    margin-top: 10px;
    
}

.address{
    font-weight: 700;
    font-size: 11px;
}

.op-hd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.invalid{
    display: none;
    /* font-size: 11px;
    font-weight: 700; */
}

form label .invalid.active{
    display: block;
    color: hsl(4, 100%, 67%);
    font-weight: 700;
    font-size: 11px;
}

input{
    /* width: 250px; */
    /* height: 40px; */
    padding: 13px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid hsl(231, 7%, 60%);
    /* position: relative;
    bottom: 16%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* gap: 10px; */
    padding-left: 15px;
    cursor: pointer;
  }
  
  /* input:active{
    border: 1px solid hsl(4, 100%, 67%);
  } */


/* Success message style  */
.success{
    display: none;

    /* background-color: hsl(0, 0%, 100%); */
}

.success.active {

    display: block;
    /* padding: 130px 30px; */
    width: 375px;
    height: 96vh;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
}

.success> img, h2, p{
    position: relative;
    top: 16%;
    left: 7%;

    /* padding: 20px 0; */
    /* background-color: hsl(0, 0%, 100%); */
}

.success> p{
    position: relative;
    top: 23%;
    /* transform: scaleX(1); */
    /* background-color: brown; */
    width: 330px;
    line-height: 23px;
}

.success> h2{
    font-size: 36px;
    position: relative;
    top: 20%;
}

#dismiss{
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    /* margin-left: 20%; */
    width: 320px;
    /* height: 60px; */
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* text-align: center; */
    border: none;
    border-radius:6px;
    cursor: pointer;
    position: relative;
    top: 59%;
    left: 7%;
}

#dismiss:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background: linear-gradient(127deg, rgba(255, 63, 124, 1) 40%, rgba(255, 154, 34, 1) 70%);
    
}

#user{
    font-weight: 700;
}

.attribution { 
    color: hsl(0, 0%, 100%);
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color:hsl(0, 50%, 92%);
    text-decoration: none;
    font-size: 13px;
}

/* yydjcbd@yhaa.com */

/* media quary section (moving to other devices)*/
@media only screen and (min-width: 768px){
    body{
        padding: 55px;
        margin: auto;

    }

    .container{
        padding: 20px;
        display: flex;
        flex-direction: row-reverse;
        gap: 36px;
        width: 800px;
        height: 500px;
        border-radius: 30px;    
    }

    .word{
        /* padding-top: 20px; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }

    
    .word> h2{
        font-size: 36px;
        position: relative;
        top: 30px;
        left: 14%;
       /* padding: 10px; */
       /* background-color: brown; */
        transform:scale(1.3);
    }

    .word> p{
        font-size: 14px;
        position: relative;
        top: 38px;
        left: -1px;
        width: 90%;
        line-height: 20px;
         /* transform: scaleX(1); */
    }

    .word> ul{
        font-size: 13px;
        position: relative;
        top: 30px;
        /* background-color: brown; */
        /* margin-right: 20px; */
    }

    .word> form{
        /* font-size: 36px; */
        position: relative;
        top: 30px
    }

    #btn{
        width: 340px;
    }

    input{
        width: 340px;
    }

    .success{
        display: none;
    }

    .success.active {
        /* display: block; */
        /* padding: 130px 30px; */
        border-radius: 30px;
        width: 330px;
        height: 46vh;
        margin: auto;
        background-color: hsl(0, 0%, 100%);
        /* position: relative;
        bottom: -38%; */
        transform: translate(16px, 130px);

    }

    .success> img{
        width: 39.9px;
        height: 39.9px;
        transform: translate(16px, -23px);

    }
    
    
    .success> h2{
        transform: translate(16px, -23px);
     
    }

    .success> p{
       font-size: 12px;
       width: 260px;
       line-height: 17px;
       transform: translate(16px, -23px);

    }

    #dismiss{
        width: 260px;
        transform: translate(16px, -120px);
    }

    .op-hd{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        /* margin-bottom: 10px; */
    }
    
    form label .invalid.active{
        position: relative;
        left: -36px;
    }

    .attribution{
        display: none;
        /* position: relative;
        top: 30%;
        left: 29%;
        background-color: blue;
        width: 600px;
        transform: translate(16px, 120px);  */
    }
    

}